.days.show
  #map
    height: 300px
    width: 100%
    margin-bottom: 40px

  .scrolled-header
    z-index: 1
    .logo
      margin-left: 0

  .header
    font-size: 1.6em
    text-align: center
    padding: 0 200px
    &.with-avatar
      text-align: left
      .inner
        padding-left: 120px
        min-height: 100px
    margin-top: 20px
    margin-bottom: 50px
    .inner
      +relative
    p
      margin-bottom: 0
    .strong
      font-weight: 700
  .user-avatar
    // margin-bottom: 20px
    // text-align: center
    +absolute(0,0)
    img
      display: inline-block
      width: 100px
      border-radius: 100px
      overflow: hidden

  .moments
    clear: both
    margin-top: 20px
    border-left: 1px solid $color-grey
    margin: 0 40px
    overflow: visible
    max-width: 100%
  .moment
    text-align: center
    margin-top: 100px
    clear: both
    padding: 0 50px
    max-width: 100%
    +relative
    &:first-child
      margin-top: 0px
    .time
      +absolute
      width: 50px
      height: 50px
      left: -25px
      top: 30px
      border-radius: 50px
      border: 1px solid $color-grey
      background: white
      padding-top: 15px
      text-align: center
      color: $color-blue
    .img-container
      display: inline-block
      +relative
      overflow: hidden
      max-width: 100%
      &:after, &:before
        +absolute
        right: -50px
        top: -25px
        background: $color-grey-lighter
        +box-shadow(0 0 10px $color-grey-dark)
        width: 100px
        height: 50px
        +transform(rotate(45deg))
        content: ""
      &:after
        bottom: -25px
        left: -50px
        right: auto
        top: auto
    img
      border: 10px solid $color-grey-light
      max-height: 500px
      display: block
      margin: auto
      margin: 3px
      max-width: 100%
    .legend
      width: 600px
      margin: auto
      border-left: 1px solid $color-blue
      padding-left: 15px
      padding-top: 10px
      padding-bottom: 10px
      text-align: left
    .title
      text-align: center
      font-weight: 700
      font-size: 1.3em
      padding-top: 15px
      margin-bottom: 20px

    &.portrait
      .title
        text-align: left
      .img-container
        float: left
        width: 60%
        img
          width: 100%
          height: auto

      .legend
        margin-top: 50px
        +relative
        border: none
        float: left
        width: 40%
        padding-left: 20px
        &:before
          content: ""
          border-top: 1px solid $color-blue
          +absolute
          top: -15px
          left: 20px
          width: 100px
      &.reverse
        .title
          text-align: right
        .legend, .img-container
          float: right
        .legend
          padding-right: 20px
          padding-left: 0
          text-align: right
          &:before
            left: auto
            right: 20px

#content .days
  overflow: hidden
  margin-right: -10px
  margin-left: -10px
  .day
    padding: 10px
    float: left
    +relative
    overflow: hidden

  .overlay
    +absolute(10px,10px,10px,10px)
    background-image: url(/assets/overlay.png)
    background-size: 100% 100%
    background-position: 0 0
    z-index: 9

  .content
    font-family: 'Lato', sans-serif
    +absolute(50%, 5%)
    right: 5%
    +transform(translateY(-50%))
    color: white
    text-align: center
    z-index: 10
    .country
      text-transform: uppercase
      margin-bottom: 21px
      font-size: 1.5em
      font-weight: 700
      +relative
      &:after
        content: ""
        +absolute
        bottom: -11px
        left: 50%
        margin-left: -10px
        width: 20px
        height: 1px
        border-bottom: 1px solid white

  .large-tile
    +absolute(10px,10px,10px,10px)
    opacity: 0
    +transition(opacity 0.4s)
    background-size: 940px 940px
    background-position: 0 0
    background-repeat: no-repeat

  @for $j from 0 through 4
    &.day-#{$j}
      @for $i from 0 through 7
        .day-#{$i}:not(.day-#{$j})
          .overlay, .content
            display: none

      @for $i from 8 through 12
        .day-#{$i}
          .overlay
            background: black
            opacity: 0.75
            display: block
          .content, .large-tile
            display: none


  @for $j from 5 through 7
    &.day-#{$j}
      @for $i from 3 through 9
        .day-#{$i}:not(.day-#{$j})
          .overlay, .content
            display: none

      @for $i from 10 through 12
        .day-#{$i}
          .overlay
            background: black
            opacity: 0.75
            display: block
          .content, .large-tile
            display: none

      @for $i from 0 through 2
        .day-#{$i}
          .overlay
            background: black
            opacity: 0.75
            display: block
          .content, .large-tile
            display: none

  @for $j from 8 through 12
    &.day-#{$j}
      @for $i from 5 through 12
        .day-#{$i}:not(.day-#{$j})
          .overlay, .content
            display: none

      @for $i from 0 through 4
        .day-#{$i}
          .overlay
            background: black
            opacity: 0.75
            display: block
          .content, .large-tile
            display: none


  @for $i from 0 through 4
    &.day-#{$i}
      .day-1 .large-tile
        background-position: -320px 0
      .day-2 .large-tile
        background-position: -640px 0
      .day-3 .large-tile
        background-position: 0px -320px
      .day-4 .large-tile
        background-position: -640px -320px
      .day-5 .large-tile
        background-position: 0px -640px
      .day-6 .large-tile
        background-position: -320px -640px
      .day-7 .large-tile
        background-position: -640px -640px

  @for $i from 5 through 7
    &.day-#{$i}
      .day-3 .large-tile
        background-position: 0 0
      .day-4 .large-tile
        background-position: -640px 0
      .day-5 .large-tile
        background-position: 0px -320px
      .day-6 .large-tile
        background-position: -320px -320px
      .day-7 .large-tile
        background-position: -640px -320px
      .day-8 .large-tile
        background-position: 0px -640px
      .day-9 .large-tile
        background-position: -320px -640px

  @for $i from 8 through 12
    &.day-#{$i}
      .day-5 .large-tile
        background-position: 0px 0
      .day-6 .large-tile
        background-position: -320px 0
      .day-7 .large-tile
        background-position: -640px 0

      .day-8 .large-tile
        background-position: 0px -320px
      .day-9 .large-tile
        background-position: -320px -320px

      .day-10 .large-tile
        background-position: 0px -640px
      .day-11 .large-tile
        background-position: -320px -640px
      .day-12 .large-tile
        background-position: -640px -640px


  @for $i from 0 through 12
    &.day-#{$i} .tile-#{$i}
      opacity: 1


+upto-tablet
  #content .days
    .day
      float: none
      width: 100%
      height: 200px
      margin-bottom: 20px
      padding: 0
      .large-tile
        display: none !important
      .overlay
        left: 0
        top: 0
        right: 0
        bottom: 0
      img
        +absolute
        width: 100%
        height: auto
        top: 50%
        +transform(translateY(-50%))
