@import compass
@import bootstrap-markdown

@import partials/common
@import partials/variables
@import partials/fonts
@import partials/responsive
@import partials/mixins
@import partials/panel
@import partials/avatar
@import partials/front/buttons
@import partials/front/new_day
@import partials/front/moments
@import partials/front/logo
@import partials/front/days
@import partials/inputs/all
@import partials/admin/welcome
@import partials/admin/mobile

.direct-upload-section
  visibility: hidden
  +fixed

html, body
  width: 100%
  height: 100%
  margin: 0
  overflow-x: hidden
  background-color: $color-grey-lighter

#content
  min-height: 500px

.share-my-day
  +absolute
  top: -20px
  right: 0
  background-color: #333
  color: white
  padding: 10px 20px
  z-index: 10
  &:hover
    color: $color-grey-light

.select2-container-multi.select2-container-active .select2-choices, .select2-container.select2-container-active .select2-choice
  +box-shadow(none)
  border-color: #ccc

$header_height: 200px
$scrolled_height: 100px
header
  text-align: center
  padding: 20px 0
  h1
    margin: auto
    height: $header_height
    overflow: hidden
    img
      height: $header_height
      display: block
      margin: auto

.scrolled-header
  +fixed
  opacity: 0
  top: 10px
  height: $scrolled_height - 20px
  left: 0
  right: 0
  z-index: 5
  +transition(opacity 0.3s)
  .logo
    margin-left: - ($scrolled_height - 10px)
    height: $scrolled_height - 20px
    width: $scrolled_height - 20px
    img
      height: $scrolled_height - 20px
      display: block


.scrolled
  .scrolled-header
    opacity: 1


.baseline
  border-bottom: 2px solid black
  line-height: 1.7em
