@import compass
@import bootstrap-markdown

@import partials/common
@import partials/variables
@import partials/fonts
@import partials/responsive
@import partials/mixins
@import partials/panel
@import partials/avatar
@import partials/front/buttons
@import partials/front/new_day
@import partials/front/moments
@import partials/front/logo
@import partials/front/days
@import partials/inputs/all
@import partials/admin/welcome
@import partials/admin/mobile

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300)
@import url(https://fonts.googleapis.com/css?family=Lora:400,700)

.direct-upload-section
  visibility: hidden
  +fixed

html, body
  width: 100%
  margin: 0
  overflow-x: hidden
  background-color: white

#content
  min-height: 500px


.share-my-day
  font-family: 'Lato', sans-serif
  border-radius: 100px

  background-color: $text-color
  border: 1px solid $text-color
  color: white
  padding: 10px 20px
  z-index: 10
  text-transform: uppercase
  +transition(background-color 0.3s)
  &:hover
    background-color: $color-grey-light
    text-decoration: none
    color: $text-color

  header &
    +absolute
    top: 0px
    right: 0

.select2-container-multi.select2-container-active .select2-choices, .select2-container.select2-container-active .select2-choice
  +box-shadow(none)
  border-color: #ccc

$header_height: 200px
$scrolled_height: 100px
header
  text-align: center
  padding: 20px 0
  h1
    margin: auto
    height: $header_height
    overflow: hidden
    a
      display: block
      overflow: hidden
      height: $header_height
      width: $header_height
      margin: auto
      border-radius: $header_height/2
      +relative
      z-index: 1
    .logo
      +absolute(0,0,0,0)

.scrolled-header
  +fixed
  opacity: 0
  top: 10px
  height: $scrolled_height - 20px
  left: 0
  right: 0
  z-index: 0
  +transition(opacity 0.3s)
  .logo
    cursor: n-resize
    margin-left: - ($scrolled_height - 10px)
    height: $scrolled_height - 20px
    width: $scrolled_height - 20px

    img
      height: $scrolled_height - 20px
      display: block

  .home.index &
    display: none


.scrolled
  .scrolled-header
    opacity: 1

.share
  text-align: center
  width: 100%
  margin-top: 20px
.pagination
  text-align: center
  width: 100%
  a, .page
    font-family: 'Lato', sans-serif
    background-color: $color-grey-lighter
    border: 1px solid $color-grey
    display: inline-block
    height: 50px
    margin: 0
  .page
    border-right: 0
    border-left: 0
    padding: 17px
    font-weight: 700
    line-height: 1em
  .prev, .next
    vertical-align: bottom
    padding: 10px 15px 10px 15px
    +transition(background-color 0.3s)
    &:hover
      background-color: $color-grey-light
    &.disabled
      background-color: $color-grey
      svg
        opacity: 0
  .prev
    border-top-left-radius: 100px
    border-bottom-left-radius: 100px
  .next
    border-top-right-radius: 100px
    border-bottom-right-radius: 100px


.baseline
  font-family: 'Lato', sans-serif
  border-bottom: 2px solid black
  line-height: 1.7em
  font-size: 1.4em

+upto-tablet
  header .share-my-day
    display: none

  .scroll-wrapper
    position: initial
    overflow: scroll

  .baseline
    text-align: center
    margin-bottom: 20px


